.wrap {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.header {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 12px;
  padding-right: 20px;
  & > div {
    cursor: pointer;
    margin-right: 20px;
  }
}
.editor {
  background-color: #1c1c1c;
  height: 120px !important;
}

.log {
  min-height: 26px;
  background: #242424;
}
